@charset "utf-8";
/* common */
html{scroll-behavior: smooth;
  display: block;overflow-y: scroll; font-family: 'pretendard-light';
  font-size: 16px; scroll-behavior: smooth;}
  ::selection {
		background-color: #2a2727;
		color: #f5f5f0;
	}
ul { list-style:none; margin:0; padding:0; }
a { color:inherit; text-decoration: none; }
img { vertical-align:middle; }

body { font-family: 'Pretendard-Light','맑은 고딕','돋움', sans-serif; font-weight: 300; text-transform: capitalize; width: 100%; margin: 0 auto;  background-color: #f5f5f0; color: #2a2727; }
body::-webkit-scrollbar { width:12px }
body::-webkit-scrollbar-track { background-color: #f5f5f0; }
body::-webkit-scrollbar-thumb { background-color: #a865ff; }
h3 { font-weight: 400; border-bottom: #f5f5f0 1px solid; display: inline-block;
  /* font-family: 'Josefin sans'; */
}
h4 {margin: 50px 0 0 0; font-weight: 400; font-size: 16px;}


header { display: flex; justify-content: space-between; position: fixed; top:40px; width:100%; height: 60px; z-index: 999; font-weight:300; font-size:1rem; padding:10px 20px; box-sizing: border-box; 
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;
}


header h1 { font-size: 19px; font-weight: 400; border-radius: 50px;width: 60px; padding: 6px 5px 4px; bottom: 7px; height: 18px; font-family: 'pretendard-light';}

/* 헤더 내부 메뉴 */
#logo {position: relative; left: 50px;width: 75px; padding: 5px 5px 6px; }

#sideDrawerMenu {
  font-family: 'pretendard-light'; font-size: 16px;
  text-transform: capitalize;
  position: fixed;
  right:50px; 
  width:55px; height:100px;
  transition: 0.3s;
  font-weight: 400;
}

#sideDrawerMenu #gnb {
  height: 140px; width: 70px;
  text-align: center;
  padding: 10px;
  position: relative; right: 43px; bottom: 55px;
  border-radius: 5px;
}
#sideDrawerMenu #gnb li { line-height: 2; position: relative; top: 40px; z-index: 50;}
#sideDrawerMenu .icon_btn { position: relative; right: 30px; bottom: 7px; z-index: 400; width: 55px; padding: 5px 5px 6px;}


/* 스크롤2안 */
header.down h1 a, header.down h1, header.down nav ul li a {
  color: #f5f5f0;
  -webkit-transition-duration:0.1s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.1s;
  transition-timing-function:ease;
}
header.down2 h1 a, header.down2 h1, header.down2 nav ul li a {
  color: #2a2727;
  -webkit-transition-duration:0.1s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.1s;
  transition-timing-function:ease;
}
header.down3 h1 a, header.down3 h1, header.down3 nav ul li a {
  color: #f5f5f0;
  -webkit-transition-duration:0.1s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.1s;
  transition-timing-function:ease;
}

/* 밑줄 */
#sideDrawerMenu #gnb li a{
  position: relative;
}
#sideDrawerMenu #gnb li a:hover{color: #a865ff; transition-duration: 0.3s;}
#sideDrawerMenu #gnb li a:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: #a865ff;
  
}
#sideDrawerMenu #gnb li a:hover:after{
  width: 100%;
  opacity: 1;
}


/* 섹션 공통 */
section {margin: 0 auto; padding: 0; text-align: center;}

/* main */
main .box1 {box-sizing: border-box; font-family: 'pretendard'; height: 700px; }
.ml1 {
    position: relative;
    padding-top: 280px;
    box-sizing: border-box;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .ml1 .text-wrapper h1 {
      margin: 0;
      font-size: 10em;
      letter-spacing: -5px;
      font-weight:100;
      line-height: 1;
      color: #2a2727;
  }
  .ml1 .text-wrapper h2 { font-weight: 400; font-size: 20px;}
  .ml1 .text-wrapper .letter2 {
      font-family: 'HSBombaram3_Thin';
      font-weight: 500;
      position: relative;
  }
  .ml1 .text-wrapper a { font-size: 16px; color: #a08e8e;}
  .box1 .ml2 {
    line-height: 0.3;
    font-size: 15px;
    font-family: 'pretendard-light','맑은 고딕';
    text-align: right;
    position: absolute;
    left: 68%; top: 260px;
  }
  .box1 a{ font-size: 1.2rem; position: relative; }
  .box1 a:hover{transition-duration: 0.3s;}
  .box1 a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0px;
    height: 1px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #2a2727;
    
  }
  .box1 a:hover:after{
    width: 100%;
    opacity: 1;
  }
  #back {position:absolute; left: 76px; top: 650px; }
  #next {position:absolute; right: 76px; top: 650px; }
  #go2 { margin: 0 auto; position: relative; top: 155px;}


/* box2 */
.box2 { margin: 0; padding: 0; width: 100%;}
.article { width: 100%; }
    .article img { max-width:100%; overflow: hidden;}

/* box3 내용 */
.box3 {width: 40%; min-width: 500px; height: 100%; text-align: justify; display: block;}
.box3 .bignum { padding-bottom: 100px; }
.box3 #p1 {font-size: 18px; font-weight: 400; padding: 0 0 150px;  font-family:'Josefin sans'; text-align: center;}

.box3 h1 {font-size: 53px; font-family: 'Josefin sans';  margin: 0; text-align: left; letter-spacing: -2px;font-weight: 700;}
.box3 h2 {font-size: 28px; font-family: 'pretendard-medium';  margin: 0; padding: 30px 0; text-align: left;}
.box3 h3 {line-height: 1.5; font-size: 18px; margin: 0; padding: 30px 0;}
.box3 div em {background-color: #eadbff; font-style: normal;}

.box3 .needflex { display: flex; justify-content: space-around;}
.box3 #keyword {margin: 50px 0;}
.box3 #keyword p { border-radius: 100px; width: 150px; height: 150px; background-color: #f5f5f0; text-align: center; line-height: 150px; font-size: 20px; font-weight: 600; border: #2a2727 1px solid; }
.box3 #keyword p:hover { background-color: #2a2727; color: #fff;}

.box3 #color div {display: flex; justify-content: center; margin: 50px 0 0;}
.box3 #color div p { background-color: #Ffb74d; width: 100px; height: 100px;border-radius: 100px; border: #Ffb74d 1px solid; text-align: center; line-height: 100px; color: #fff; margin: 10px;}
.box3 #color p:first-child {background-color: #fff; border: #2a2727 1px solid; color: #000;}
.box3 #color p:nth-child(3) {background-color: #F5F5F5; border: #2a2727 1px solid; color: #000;}
.box3 #color p:last-child {background-color: #334dc4; border: #334dc4 1px solid;}
.box3 #color #col2 { justify-content: center; margin: 0 0 50px 0;}
.box3 #color #col2 p {width: 70px; height: 70px; line-height: 70px;}
.box3 #color #col2 p:first-child{background-color: #F7faff; border: #2a2727 1px solid; color: #000;}
.box3 #color #col2 p:last-child{background-color: #000; border: #000 1px solid; color: #fff;}

.box3 #typo {margin: 50px 0;}
.box3 #typo h3 {font-size: 25px; font-weight: 600;}
.box3 #typo p {font-size: 20px;}

.box3 #proso h1 {margin-bottom: 50px;}
.box3 #proso h3{text-transform: lowercase;}


/* box6 */
.article {padding-bottom: 100px; }
.video_wrap video {width:60vw; min-width: 490px; border-radius: 15px; border: #2a2727 7px solid; cursor: pointer;  margin: 0 auto; justify-content: center;}
.article p { left: 10px; text-align: center; font-size: 16px; color: #969696;}



/* box4 */
.box4 {height: 50px;}
.box4 div { font-size: 1.2rem; font-family: 'pretendard'}
#back2 {position:absolute; left: 76px;  }
#next2 {position:absolute; right: 76px; }
#go {text-align: center;}
.box4 a{ font-size: 1.2rem; position: relative; }
.box4 a:hover{transition-duration: 0.3s;}
.box4 a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0px;
    height: 1px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #2a2727;
    
  }
  .box4 a:hover:after{
    width: 100%;
    opacity: 1;
  }


/* .box5 */
.box5 {height: 890px; width: 100%; background-color: #2a2727; color: #f5f5f0; overflow: hidden;}
.box5 h4 { margin: 0 auto; padding: 170px 0 130px; }
.box5 div { border-bottom: #f5f5f0 1px solid; width: 80%; border-top: #f5f5f0 1px solid; margin: 0 auto;
  background-image: linear-gradient(120deg, #7800835e 0%, #5bfaff5d 100%); 
  background-repeat: no-repeat;
  background-size: 100% 0%;
  background-position: 100% 0;
  transition: background-size 0.25s ease-in-out;
}
.box5 h1 { font-size: 10rem; margin: 0 auto; padding: 150px 0 100px;  font-weight: 500; font-family: 'josefin sans';}
.box5 div:hover{ 
  background-image: linear-gradient(120deg, #7800835e 0%, #5bfaff5d 100%); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 100%;
  transition: background-size 0.5s ease-in-out;}


 

/* footer */
footer {
  background-color: #2a2727; color: #f5f5f0;
  font-weight: 400; margin: 0; padding: 0;
}
footer p { margin: 0 auto; padding: 20px 0; width: 80%; font-family: 'Pretendard-Light'; text-align: center; }

#go_top { width:60px; height:60px; background-color:rgb(0, 0, 0); color:#fff; border-radius:50%; text-align: center; line-height:65px; position: fixed; right:67px; bottom:50px; cursor: pointer; text-decoration: none; font-size: 25px; }
#go_top:hover { transform: scale(1.1); transition: 0.3s; background-color: #a865ff; color: #fff; font-weight: 300;}

@font-face {
    font-family: 'HSBombaram3_Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard-Thin';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }